.result-controls {
  background-color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding:0 !important;
  .button-back {
    color: #ff9c01;
    background-color: #fff;
    border: 2px solid #fff;
    width: 100%;
    text-align: left;
    padding:5px 0 5px 20px;
    margin: 5px 0;
    transition: all 1s;
    &:hover {
      background-color: #ff9c01;
      border: 2px solid #ff9c01;
      outline: 0;
      color:#fff;
    }
  }
  .filter-resultpage {
    border: 2px solid #ff9c01 !important;
    border-radius:5px;
    padding:5px 0 5px 15px;
    margin: 5px 0;
    color:#ff9c01;
  }
}

.background-results {
  background-image: url(../img/background-gradient.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  .result-container {
    background-color: #fff;
    border-radius: 5px;
    padding:0px;
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
    -moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
    .result-content {
      padding:0 10px 10px 15px;
    }
  }
  .result-heading {
    border-radius: 5px 5px 0 0;
    padding-left: 15px;
  }
  .result-container-clicked {
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    .result-content-clicked {
      background-color: #fff;
      padding:10px 10px 10px 15px;
    }
    .cancel-button {
      float: right;
      padding-right: 10px;
      padding-top: 5px;
    }
    .result-footer {
      background-color: #EDEDED;
      border-radius: 0 0 5px 5px;
      padding: 5px
    }
  }
  .footer {
    color:#fff;
    text-align: center;
    > p {
      > a {
        color:#fff;
        &:hover {
          color:#e6007e;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .button-back {
    padding:0 0 0 5px;
  }
  .background-results {
    height: 100%;
  }
}
