
.filter-controls {
  background-color: #fff;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 45px;
  -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
  -moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
  box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
  .filters-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:12px 0 12px 15px;
    .filter-button {
      color:#ff9c01;
      margin: auto;
      cursor:pointer;
      font-weight: 600;
      &:hover {
        background-color:#fff;
        color:#ff9c01;
      }
    }
  }
}

.background-results {
  position: relative;
  background-image: url(../img/background-gradient.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  .filter-info {
    display: flex;
    padding:15px;
    .button-back {
      text-align: center;
      color:#fff;
      font-weight: 600;
      cursor:pointer;
      transition: all 1s;
      &:hover {
        text-shadow: 1px 1px 6px rgba(0,0,0,0.53);
      }
    }
    .filter-resultpage {
      float: right;
      color:#fff;
    }
  }
  .cards {
    margin-bottom:50px;
    .result-container {
      background-color: #fff;
      opacity: 0.85;
      border-radius: 5px;
      padding:0px;
      position: relative;
      -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
      -moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
      box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
      &:focus, &:active {
        outline: none; 
      }
      .result-heading {
        height: 45px;
        border-radius: 5px 5px 0 0;
        >p {
          margin: 0;
          padding: 10px 0px 10px 10px;
        }
        .cancel-button {
          float: right;
          padding-right: 10px;
          padding-top: 5px;
        }
        &:focus, &:active {
          outline: none; 
        }
      }
      .result-content {
        padding:0 10px 10px 15px;
        background-color: #fff;
        border-radius: 0 0 5px 5px;
        height: 125px;
        >h6 {
          font-size: 14px;
          font-weight: 600;
        }
        >p {
          &:focus, &:active {
            outline: none; 
          }
          >a {
            color: #0fa4cc;
            font-weight: 600;
          }
        }
      }
      .result-footer {
        background-color: #EDEDED;
        border-radius: 0 0 5px 5px;
        text-align: center;
        .call-to-action{
          padding: 10px;
            >p {
            margin-bottom: 5px;
            >a {
              color: #0fa4cc;
              font-weight: 600;
            }
          }
        }
        .help-item {
          color: #4a4a49;
          background-color: #fff;
          border-radius: 0 0 5px 5px;
          padding:10px;
        }
      }
    }
  }
  .no-result {
    padding: 150px;
    text-align: center;
  }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding-left: 35px;
    padding-top: 15px;
    height: 50px;
    background-color: #B07C00;
    >div {
      > p {
        margin-bottom: 0;
        > a {
          color: #fff;
          &:hover {
            color: #e6007e;
          }
        }
      }
    }
    .help-footer {
      float: right;
      padding-right: 35px;
    }
  }
}

div,p,i,button {
    &:focus, &:active {
    outline: none; 
  }
} 


@media (max-width: 1024px) {
  .filter-controls {
    .filters-content {
      justify-content: center;
      padding: 10px;
      .col-md-2, .col-xs-6 {
        padding: 0 10px;
      }
      .filter-button {
        line-height: 25px;
      }
    }
  }
  .background-results {
    padding-top: 45px;
    .filter-info {
      padding:15px 5px;
    }
    .cards {
      margin-bottom:80px;
    }
    .footer {
      padding-left:0;
      text-align: center;
      height: 80px;
      .help-footer {
        float: none;
        padding-right: 0px;
      }
    }
  }
}
@media (max-width: 768px) {
  .background-results {
    padding-top: 70px;
  }
}
@media (max-width: 414px) {
  .filter-controls {
    background-color: #fff;
    position: fixed;
    z-index: 3;
    width: 100%;
    margin-top: 40px;
    .filters-content {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding:12px 0 12px 15px;
      .filter-button {
        color:#ff9c01;
        margin: auto;
        cursor:pointer;
        font-weight: 600;
        &:hover {
          background-color:#fff;
          color:#ff9c01;
        }
      }
    }
  }
  .background-results {
    height: 100%;
    padding-top: 40px;
    .filter-info {
      padding:10px 0;
      .col-md-3 {
        padding:0;
      }
      .button-back {
        display: none;
      }
      .filter-resultpage {
        text-align: center;
      }
    }
    .cards {
      height: 100%;
      margin-bottom:120px; 
      .result-container {
        .result-content {
          height: 100%;
        }
      }
    }
    .no-result {
      padding: 10px;
      margin-top: 35px;
    }
    .footer {
      padding-left:0;
      text-align: center;
      height: 130px;
      .help-footer {
        float: none;
        padding-right: 0px;
      }
    }
  }
}
.active{
  height: 100% !important;
}
.transparency {
  opacity: 1 !important;
}
