<div class="background-questions center-content-both">

	<div class="col-md-12">
		<!-- Question one -->
		<div class="col-md-4 padding-10">
			<div class="col-md-12 filter-container">
				<div class="filter-header">
					<h6 class="light">Wat is je <span class="semibold">gezinssamenstelling?</span></h6>
				</div>
				<div class="filter-content">
					<button id="button-family-single" class="btn button-family"><h6>Alleenstaand</h6></button>
					<button id="button-family-singlekids" class="btn button-family"><h6>Alleenstaand met kinderen</h6></button>
					<button id="button-family-livingwithpartner" class="btn button-family"><h6>Samenwonend met partner</h6></button>
					<button id="button-family-livingwithpartnerandkids" class="btn button-family"><h6>Samenwonend <br>met partner en kinderen</h6></button>
				</div>
			</div>
		</div>
		<!-- Question two -->
		<div class="col-md-4 padding-10">
			<div class="col-md-12 filter-container">
				<div class="filter-header">
				<h6 class="light">In welk <span class="semibold">stadsdeel</span> woon je?</h6>
				</div>
				<div class="col-md-12 boroughs">
				<img class="margin-top-20" src="../img/map-boroughs.svg">
				</div>
				<div class="filter-content col-md-12">
					<div class="col-md-6 col-sm-6">
						<button id="button-borough-centrum" class="btn button-borough"><h6>Centrum</h6></button>
						<button id="button-borough-nieuw-west" class="btn button-borough"><h6>Nieuw-West</h6></button>
						<button id="button-borough-noord" class="btn button-borough"><h6>Noord</h6></button>
						<button id="button-borough-oost" class="btn button-borough"><h6>Oost</h6></button>
					</div>
					<div class="col-md-6 col-sm-6">
						<button id="button-borough-west" class="btn button-borough"><h6>West</h6></button>
						<button id="button-borough-zuid" class="btn button-borough"><h6>Zuid</h6></button>
						<button id="button-borough-zuidoost" class="btn button-borough"><h6>Zuidoost</h6></button>
						<button id="button-borough-westpoort" class="btn button-borough"><h6>Westpoort</h6></button>
					</div>
				</div>
			</div>
		</div>
		<!-- Question three -->
		<div class="col-md-4 padding-10">
			<div class="col-md-12 filter-container">
				<div class="filter-header">
					<h6 class="light">Wat is je <span class="semibold">leeftijd?</span></h6>
				</div>
				<div class="filter-content">
					<button id="button-age-underaged" class="btn button-age">
					<div class="age-icon bold"><h6><18</h6></div>
					<div class="age-age"><h6>Jonger dan 18 jaar oud</h6></div>
					</button>
					<button id="button-age-adult" class="btn button-age">
						<div class="age-icon bold"><h6>18 - 65</h6></div>
						<div class="age-age"><h6>Tussen de 18 en 65 jaar oud</h6></div>
					</button>
					<button id="button-age-elderly" class="btn button-age">
						<div class="age-icon bold"><h6>65+</h6></div>
						<div class="age-age"><h6>Ouder dan 65 jaar oud</h6></div>
					</button>
				</div>
			</div>
			<!-- Button -->
			<div class="col-md-12 no-padding">
				<a ui-sref="results">
					<div class="button margin-top-20"><h6 class="semibold no-margin">Ontdek de regelingen</h6></div>
				</a>
			</div>
		</div>
	</div>
</div>