<poverty-navbar status="Filters" state-to="welcome"></poverty-navbar>
<div class="background-questions">
	<div class="col-md-12">
		<!-- Question family -->
		<div class="col-md-4 block-container padding-10">
			<div class="col-md-12 filter-container family-container">
				<div class="filter-header">
					<h6 class="light">Wat is je <span class="semibold">gezinssamenstelling?</span></h6>
				</div>
				<div class="filter-content">
					<button class="button-filter button-family button-family-single" ng-model="vm.family" uib-btn-radio="['A','Alleenstaand']"><h6>Alleenstaand</h6></button>
					<button class="button-filter button-family button-family-singlekids" ng-model="vm.family" uib-btn-radio="['AK', 'Alleenstaand met kinderen']"><h6>Alleenstaand<br>met kinderen</h6></button>
					<button class="button-filter button-family button-family-livingwithpartner" ng-model="vm.family" uib-btn-radio="['SP', 'Samenwonend met partner']"><h6>Samenwonend<br>met partner</h6></button>
					<button class="button-filter button-family button-family-livingwithpartnerandkids" ng-model="vm.family" uib-btn-radio="['SPK', 'Samenwonend met partner en kinderen']"><h6>Samenwonend<br>met partner en kinderen</h6></button>
				</div>
			</div>
		</div>
		<!-- Question boroughs -->
		<poverty-map borough="vm.borough"></poverty-map>
		<!-- Question age -->
		<div class="col-md-4 block-container padding-10">
			<div class="col-md-12 filter-container age-container">
				<div class="filter-header">
					<h6 class="light">Wat is je <span class="semibold">leeftijd?</span></h6>
				</div>
				<div class="filter-content">
					<button class="button-filter button-age" ng-model="vm.age" uib-btn-radio="['1', 'Jonger dan 18 jaar oud']">
					<div class="age-icon bold"><h6 class="bold"><i class="bold fa fa-angle-left" aria-hidden="true"></i>18</h6></div>
					<div class="age-age"><h6>Jonger dan 18 jaar oud</h6></div>
					</button>
					<button class="button-filter button-age" ng-model="vm.age" uib-btn-radio="['2', 'Tussen de 18 en 65 jaar oud']">
						<div class="age-icon bold"><h6 class="bold">18-65</h6></div>
						<div class="age-age"><h6>Tussen de 18 en 65 jaar oud</h6></div>
					</button>
					<button class="button-filter button-age" ng-model="vm.age" uib-btn-radio="['3', 'Ouder dan 65 jaar oud']">
						<div class="age-icon bold"><h6 class="bold">65+</h6></div>
						<div class="age-age"><h6>Ouder dan 65 jaar oud</h6></div>
					</button>
				</div>
			</div>
			<!-- Button -->
			<div class="col-md-12 no-padding">
				<a  ng-click="vm.sendFilterInfo()">
					<div class="confirm-button"><h6 class="semibold no-margin">Ontdek de regelingen</h6></div>
				</a>
			</div>
		</div>
	</div>
</div>



<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-91475319-1', 'auto');
 ga('send', 'pageview');
</script>

<script>
(function(h,e,a,t,m,p) {
m=e.createElement(a);m.async=!0;m.src=t;
p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
})(window,document,'script','https://u.heatmap.it/log.js');
</script>






