.background-questions {
	background-image: url(../img/background-gradient.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 0px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
    align-items: center;
	.block-container{
		display: flex;
		justify-content: center;
		flex-direction: column;
		//flex-wrap: wrap;
		align-items: center;
	}
	.family-container,
	.boroughs-container {
		min-height:600px;
		max-width: 410px;
	}
	.age-container {
		min-height:415px;
		max-width: 410px;
	}
	.filter-container {
		overflow: hidden;
		border-radius: 5px;
		background-color: #fff;
		padding:0;
		-webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
		-moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
		box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
		.filter-header {
			background-color: #ff9c01;
			border-radius: 5px 5px 0 0;
			color:#fff;
			margin:0;
			padding: 5px 0 5px 25px;
		}
		.filter-content {
			width:100%;
			height:100%;
			padding:20px;
			.button-filter {
				background-color: #fff;
				border: 2px solid #fff;
				width: 100%;
				text-align: left;
				transition: all 1s;
				&:hover {
					border: 2px solid #ff9c01;
					color:#ff9c01;
				}
				&:focus {
					background-color: #ff9c01;
					border: 2px solid #ff9c01;
					outline: 0;
					color:#fff;
				}
			}
			.button-family {
				margin-bottom:35px;
				padding-left: 20%;
				background-repeat: no-repeat;
				background-position: 5% 50%;
				> h6 {
					margin-left: 15px;
				}
				&:first-child {
			    	margin-top: 20px;
				}
			}
			.button-borough {
				margin: 2px 0;
				padding: 0 0 0 15px;
				> h6 {
					margin: 5px 0;
				}
			}
			.button-age {
				margin-bottom: 35px;
				padding: 0 0 0 15px;
				.age-icon {
					width:22%;
					float: left;
				}
				.age-age {
					width:75%;
					float: left;
				}
				&:first-child {
			    	margin-top: 20px;
				}
			}
			.button-family-single {
				background-image: url('../img/button-single-inactive.svg');
				background-size: 25px;
				&:focus {
					background-image: url('../img/button-single-active.svg');
				}
			}
			.button-family-singlekids {
				background-image: url('../img/button-singlekids-inactive.svg');
				background-size: 30px;
				&:focus {
					background-image: url('../img/button-singlekids-active.svg');
				}
			}
			.button-family-livingwithpartner {
				background-image: url('../img/button-livingwithpartner-inactive.svg');
				background-size: 38px;
				&:focus {
					background-image: url('../img/button-livingwithpartner-active.svg');
				}
			}
			.button-family-livingwithpartnerandkids {
				background-image: url('../img/livingwithpartnerandkids-inactive.svg');
				background-size: 38px;
				&:focus {
					background-image: url('../img/livingwithpartnerandkids-active.svg');
				}
			}
			.checked {
				background-color: #ff9c01;
				border: 2px solid #ff9c01;
				outline: 0;
				color:#fff;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	.confirm-button {
		font-family: 'Open Sans', sans-serif;
		font-size:20px;
		font-weight: 600;
		text-align: center;
		background-color:#ff9c01;
		color:#fff;
		padding:15px;
		margin-top: 125px;
		margin-right: auto;
		margin-left: auto;
		border-radius: 10px;
		transition: all 1s;
		cursor:pointer;
		height:60px;
		width:100%;
		max-width: 410px;
		-webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
		-moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
		box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
		&:hover {
			background-color:#fff;
			color:#ff9c01;
		}
	}
}


@media (max-width: 1124px) {
	.background-questions {
		.family-container,
		.boroughs-container,
		.age-container {
			height:100%;
		}
		.filter-container {
			.filter-content {
				.button-borough {
					padding: 0 5px;
					margin: 10px 0;
					> h6 {
						margin: 0px 0;
						padding-bottom: 5px;
					}
				}
			}
		}
	}
}
@media (max-width: 1054px) {
	.background-questions {
		.confirm-button {
			margin-top: 75px;
		}
	}
}
@media (max-width: 991px) {
	.background-questions {
		.block-container{
			display: flex;
			justify-content: center;
			flex-direction: rows;
			align-items: stretch;
		}
	}
}
@media (max-width: 414px) {
	.background-questions {
		height: 100vh;
		padding-top: 75px;
		.family-container,
		.boroughs-container,
		.age-container {
			min-height:100%;
		}
		.filter-container {
			.filter-content {
				padding: 10px;
				.borough {
					padding-left:5px;
					padding-right:5px;
				}
				.button-family {
					margin-bottom: 10px;
					> h6 {
						margin-left: 5px;
					}
					&:first-child {
						margin-top: 0px;
					}
				}
				.button-borough {
					padding: 0;
					margin: 5px 0;
					> h6 {
						margin: 5px 0;
						padding-bottom: 5px;
					}
				}
				.button-age {
					margin-bottom:25px;
					padding: 0 0 0 10px;
					&:first-child {
						margin-top: 0px;
					}
				}
			}
		}
	}
}
@media (max-width: 320px) {
	.background-questions {
		padding-top: 55px;
		.filter-container {
			.filter-content {
				padding:5px;
			}
		}
	}
}


// svg .st0{fill:#FFF4E9;}
// svg .st1{fill:#F29100;}
// svg .area{fill: transparent;}
// svg .area:hover{fill: #F29100;cursor:pointer;}
// svg .area:focus{outline: none;fill: #F29100;}
// svg .area:active{outline: none;fill: #F29100;}

// svg .checked {
// 		border:none;
// 	}