/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


/* Global elements */

body {
  color:#4a4a49;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size:36px;
  line-height:66px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size:34px;
  line-height:44px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size:30px;
  line-height:40px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size:26px;
  line-height:36px;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size:22px;
  line-height:32px;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  line-height:28px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  line-height:24px;
}

a {
  color:#4a4a49;
  &:hover {
    text-decoration: none;
  }
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/* colors */

.light-orange {
  color:#e7d725;
}

.dark-orange {
  color:#d99800;
}

.white {
  color:#fff;
}

.background-pink {
  background-color: #e6007e;
}

.background-blue {
  background-color: #0fa4cc;
}

.background-orange {
  background-color: #f99b01;
}

.background-green {
  background-color: #bdd400;
}

.background-light-orange {
  background-color:#e7d725;
}

.background-dark-orange {
  background-color:#d99800;
}

.background-white {
  background-color:#fff;
}

/* paddings and margins */

.no-padding {
  padding: 0;
}

.padding-1 {
  padding:1px;
}

.padding-10 {
  padding:10px;
}

.padding-25 {
  padding:25px;
}

.padding-bottom-25 {
  padding-bottom:25px;
}

.margin-top-20 {
  margin-top:20px;
}

.margin-top-40 {
  margin-top:40px;
}

.margin-top-125 {
  margin-top:125px;
}

.no-margin {
  margin: 0px;
}

/* button 1 */

button {
  border-radius: 4px;
}

.center-content-both {
  display: flex;
  justify-content: center;
  align-items: center;
  .button {
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    font-weight: 600;
    text-align: center;
    background-color:#ff9c01;
    color:#fff;
    padding:15px;
    border-radius: 10px;
    transition: all 1s;
    cursor:pointer;
    height:60px;
    width:100%;
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
    -moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.53);
    &:hover {
      background-color:#fff;
      color:#ff9c01;
    }
  }
}


@media (max-width: 414px) {
  button {
    > h6 {
      padding-left: 10px;
    }
  }
}

@media only screen and (max-width: 767px) {
    #hide {
        display: none;
    }
}
@media only screen and (min-width: 415px) {
    #show {
        display: none;
    }
}

 
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
